
* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;



}

.container {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    background: url('/img/peak.gif');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;




}

#logo {
    position: absolute;
    left: 700px;
    top: -150px;
   
}#logo img{
   width: 500px;
 
    margin: auto;
   
}

#icon {
    position: fixed;
    top: 30px;
    right: 0;
    color: white;
    font-weight: 800;
    width: 100px;
    cursor: pointer;
}

#icon img:active {
    transform: scale(1.2);
}

.div-main {
    width: 400px;
    text-align: left;
    border-radius: 20px;
    position: fixed;
    left: 750px;
    height: 680px;
    margin: auto;
    background-color: rgba(255, 255, 255, 0.145);
    backdrop-filter: blur(5px);
    margin-top: 160px;


}

.div-main>form {
    flex-direction: column;

    width: 300px;
    height: 700px;
    margin: auto;

}

.div-main h2 {
    text-align: center;
    font-size: 25px;
    margin-bottom: 30px;
    font-family: 'Quicksand', sans-serif;
    font-weight: 800;
    margin-top: 10px;
    color: white;
}

.div-main form label {
    text-align: left;
    font-family: 'Quicksand', sans-serif;
    font-size: 20px;
    color: white;
    font-weight: 800;
}

.div-main form input {
    padding-top: 5px;
    text-align: left;
    border: transparent;
    margin-bottom: 30px;
    font-size: 20px;
    font-weight: 800;
    color: rgb(47, 255, 179);
    border-bottom: 2px solid white;
    background-color: transparent;
    cursor: pointer;
    transition: all 0.5s;

}



.div-main form input:focus {
    border-bottom: 3px solid rgb(39, 178, 15);
    outline: none;
    background-color: transparent;
}

.div-main form input:hover {
    border-bottom: 2px solid black;
    outline: none;
    padding-top: 20px;
   
}

.div-main form input[type="submit"] {
    text-align: center;
   margin-left: 50px;
    border:2px solid white;
    border-radius: 20px;
    padding: 10px;
    color: white;
    transition: 0.2s;
    width: 200px;
    font-weight: 500;
    font-size: 25px;
    background-color: transparent;
    text-shadow: 2px 5px 4px rgba(251, 245, 245, 0.5);
    cursor: pointer;
    transition: 0.6s;
}

.div-main form input[type="submit"]:active {
    transform: scale(1.1);
    color: gray;
    background-color: rgba(83, 81, 81, 0.333);

}

.div-main form input[type="submit"]:hover {
    transform: scale(1.1);
    background-color: white;
    color: black;


}

.div-main form input[type="date"] {
    font-weight: 100;
    letter-spacing: 5px;
}

.div-main form p,
a {
    font-size: 25px;
    color: white;
    margin: 10px;
    font-family: 'Work Sans', sans-serif;
    text-decoration: none;
    transition: 0.3s;
}

.div-main form p,
a:hover {
    color: rgb(47, 255, 179);
    text-align: center;
}

.message {
    display: none;
}

.div-main form input[type="date"]{
    width: 300px;
    padding-top: 10px;
   
    font-family: 'Quicksand', sans-serif;
  
    font-size: 20px;
    color: rgb(255, 255, 255);
    text-align: left;
    border-bottom: 2px solid white;
    background-color: transparent;
    cursor: pointer;
    transition: 0.8s;

}.div-main form input[type="date"]::-webkit-calendar-picker-indicator{
    display: none;
}.div-main form input[type="date"]:hover{
    padding-top: 30px;
    border-bottom: 3px solid rgb(39, 178, 15);
}