<!DOCTYPE html>
<html lang="PT-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/register.css">
    <link rel="stylesheet" href="css/fonts.css">

    <title>Cadastro Usuario</title>
</head>

<body>

    <main>

        <div id="container" class="container">
            <div id="icon">
                <img src="img/button.png" alt="" width="50px">
            </div>
            <div id="logo">
                <img  src="img/Easy.png" alt="" >
            </div>
            <p id="message" th:if="${message !=null}" th:text="${message}" class="message"></p>
           

            <div class="div-main">
                <!-- Thymeleaf started -->
                <h2>Cadastre-se</h2>
                <form action="CadastroEasy" method="post" th:object="${user}">
                        <label for="nome">Nome</label>
                        <input type="text"  th:field="*{nome}" required>
                        <label for="usuario">Usuário</label>
                        <input id="usuarioCAD" type="text"  th:field="*{usuario}" required>
                        <label for="senha">senha usuario</label>
                        <input id="senha" type="password" th:field="*{senha}" maxlength="8" required>
                        <label for="confirmeSenha">Confirme a senha</label>
                        <input id="confirmSenha" type="password"  maxlength="8" required>
                        <label for="data_nascimento">Data de nascimento</label>
                        <input type="date"  th:field="*{data_nascimento}" required>
                        <input id="button" type="submit" value="Cadastrar">
                        <p><a th:href="RedirecionarLogin">Ja possuo cadastro</a></p>
                </form>
               
            </div>
        </div>
    </main>
    <script src="script/script.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

</body>

</html>