<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/edit.css}" />
    <title>Editar Cliente</title>
</head>

<body>
    <div id="container" class="container">
        <div id="logo">
            <img  th:src="@{/img/Easy.png}" alt="" >
        </div>
        <div id="icon">
            <img th:src="@{/img/button.png}" alt="" width="50px">
        </div>
    <h2>Editar Cliente</h2>
<div class="forms">
    <form class="form-horizontal" th:object="${cliente}" th:action="@{/addcliente}" method="POST" style="margin: 10px">
        <div>
            <label for="nome">Nome do Cliente:</label>
            <input type="text" th:field="*{nome}" id="nome" placeholder="Nome">
            <label for="dataDeNascimento">Data de Nascimento:</label>
            <input type="date" th:field="*{dataDeNascimento}" id="dataDeNascimento" placeholder="Data de Nascimento" >
            <label for="sexo">Sexo:</label>
            <select th:field="*{sexo}" id="sexo" placeholder="Sexo">
                <option value="M">Masculino</option>
                <option value="F">Feminino</option>
            </select>

            <label for="cpf">CPF:</label>
            <input type="text" th:field="*{cpf}" id="cpf" placeholder="CPF">

            <label for="cidade">Cidade:</label>
            <input type="text" th:field="*{cidade}" id="cidade" placeholder="Cidade">

            <label for="estados">Estados:</label>
            <select id="uf" name="estados" th:field="*{uf}">
                <option th:value="null" selected>Selecione a UF:</option>
                <option th:value="AC">Acre</option>
                <option th:value="AL">Alagoas</option>
                <option th:value="AP">Amapá</option>
                <option th:value="AM">Amazonas</option>
                <option th:value="BA">Bahia</option>
                <option th:value="CE">Ceará</option>
                <option th:value="DF">Distrito Federal</option>
                <option th:value="ES">Espírito Santo</option>
                <option th:value="GO">Goiás</option>
                <option th:value="MA">Maranhão</option>
                <option th:value="MT">Mato Grosso</option>
                <option th:value="MS">Mato Grosso do Sul</option>
                <option th:value="MG">Minas Gerais</option>
                <option th:value="PA">Pará</option>
                <option th:value="PB">Paraíba</option>
                <option th:value="PR">Paraná</option>
                <option th:value="PE">Pernambuco</option>
                <option th:value="PI">Piauí</option>
                <option th:value="RJ">Rio de Janeiro</option>
                <option th:value="RN">Rio Grande do Norte</option>
                <option th:value="RS">Rio Grande do Sul</option>
                <option th:value="RO">Rondônia</option>
                <option th:value="RR">Roraima</option>
                <option th:value="SC">Santa Catarina</option>
                <option th:value="SP">São Paulo</option>
                <option th:value="SE">Sergipe</option>
                <option th:value="TO">Tocantins</option>
            </select>
        </div>


        <input type="submit" value="Salvar Alterações">
       <p><a th:href="@{dashboard}">Voltar ao dashboard</a></p> 
    </form>
    </div>
    </div>
    <script th:src="@{./script/login.js}"></script>
</body>

</html>