<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/login.css">
    <link rel="stylesheet" href="./css/fonts.css">
    <title>Document</title>
</head>

<body>

    <main>
        <div id="container"class="container">
        <h1>Usuario já existente em nosso banco de dados</h1>
        <p style="text-align: center;"><a th:href="@{goToLogin}">ir para login</a></p>
        </div>
    </main>

       
    </main>
    <script src="script/script.js"></script>
</body>

</html>