<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/login.css">
    <link rel="stylesheet" href="css/fonts.css">
    <title>Document</title>
</head>

<body>

    <main>

        <div id="container" class="container">
            <div id="icon">
                <img src="img/button.png" alt="" width="50px">
            </div>
            <p id="erro" th:if="${erro !=null}" th:text="${erro}" class="erro"></p>
            <div id="logo">
                <img src="img/Easy.png" alt="">
            </div>
            <div class="div-main">
                <form action="loginEasy" method="POST" th:object="${user}">
                    <!-- Ajuste de endpoint -->
                    <div>
                        <h2>Acesse o sistema</h2>
                    </div>

                    <label for="login">Login</label>
                    <input id="login"type="text" th:field="*{login}" required>
                    <label for="senhaLogin">Senha</label>
                    <input type="password" th:field="*{senhaLogin}" maxlength="8" required>
                    <input id="btnLog" type="submit" value="Login" required>
                    <p><a th:href="@{register}">Ainda não possuo cadastro</a></p>
                </form>


            </div>
        </div>
    </main>
    <script src="script/script.js"></script>
    <script src="script/login.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
</body>

</html>